import { AppConfig } from "./src/config.ts";

const env = Deno.env()
const config: AppConfig = {
    server: {
        port: env['PORT'] || '8080'
    },
    scrapbox: {
        host: env['SCRAPBOX_HOST'] || 'https://scrapbox.io',
        project: env['SCRAPBOX_PROJECT'] || 'mactkg-pub',
        cookie: env["SCRAPBOX_COOKIE"] || ""
    },
    slack: {
        webhook: env["SLACK_WEBHOOK"] || '',
        options: {
          // https://api.slack.com/docs/message-formatting
          name: "Shibaura"
        }
    },
    external: {}
}
config.external.ruleScrapboxUrl = env["EXTERNAL_RULE_URL"] || `https://scrapbox.io/api/table/${config.scrapbox.host}/shibaura/settings.csv`
export default config;
